# CI/CD to render.com server
name: Laravel Application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev        # dev environment for value retrieving

    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Installing Dependencies 
        working-directory: src
        run: composer install --verbose --no-ansi --no-interaction --no-scripts --no-progress --no-dev

      - name: Copy .env
        run: |
          cd src
          php -r "file_exists('.env') || copy('.env.example', '.env');"
          
      - name: Generate Key
        run: |
          cd src
          php artisan key:generate

      - name: Directory Permissions
        run: |
          cd src
          chmod -R 777 storage bootstrap/cache

      - name: Create Database
        run: |
          cd src
          mkdir -p database
          touch database/database.sqlite
          
      # - name: Execute tests (Unit and Feature tests) via PHPUnit
      #   env:
      #     DB_CONNECTION: sqlite
      #     DB_DATABASE: database/database.sqlite
      #   run: src/vendor/bin/phpunit
          
 
  deploy:
    needs: [build]           # test job need to pass 
    runs-on: ubuntu-latest
    environment: dev

    steps:   
      - name: Deploy to Render.com server over ssh
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
